annotated-types==0.6.0
anyio==4.2.0
azure-core==1.29.7
azure-storage-blob==12.19.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.2
dataclasses-json==0.6.4
distro==1.9.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
fastapi==0.109.0
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0
idna==3.6
isodate==0.6.1
jsonpath-python==1.0.6
marshmallow==3.20.2
mypy-extensions==1.0.0
neo4j==5.17.0
numpy==1.26.3
openai==1.10.0
-e git+ssh://git@github.com/syyclops/open-operator.git@916343e78235f471d8dcb117df0f94e96fbbf950#egg=openoperator
openpyxl==3.1.2
packaging==23.2
pandas==2.2.0
pgvector==0.2.4
psycopg==3.1.17
pycparser==2.21
pydantic==2.6.0
pydantic_core==2.16.1
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-multipart==0.0.6
pytz==2023.4
rdflib==7.0.0
regex==2023.12.25
requests==2.31.0
six==1.16.0
sniffio==1.3.0
starlette==0.35.1
tiktoken==0.5.2
tqdm==4.66.1
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.4
unstructured-client==0.16.0
urllib3==2.2.0
uvicorn==0.27.0.post1
